.button {
  background-color: green;
  height: 200px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  font-size: 100%;
  display: inline-block
}

div textarea {
  height: 55vh;
  margin-top: 1vh;
}

#settings {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around
}
